
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="https://github.com/mderazon/csnc" class="brand"><img
				style="position: absolute; top: 0; left: 0; border: 0;"
				src="/img/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" href="#"><%= title %></a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="/">בית</a></li>
					<li><a href="/about">אודות</a></li>
					<li><a href="/contact">צור קשר</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>

<div class="container">

	<!-- Example row of columns -->
	<div class="row">
		<div class="hero-unit">
			<h1>שיעור ראשון</h1>
		</div>
			<br />
		<div class="well">
			<p>
				שלום לכולם. זהו שיעור ראשון ואני משתמש ב-<a
					href="http://www.bluegriffon.org/">griffon</a>. מגניב ביותר!
			</p>
			<p align="center">
				<img src="/img/face_sad.gif" alt="aa" title="aa" /><br />
			</p>
			<p align="right">גם טקסט מתמטי אפשרי (במידה ויש לכם דפדפן נורמלי)</p>
			<p align="left">
		<math xmlns="http://www.w3.org/1998/Math/MathML">
			<mrow>
			  <mi>a</mi>
			  <mo>&#x2062;<!-- &InvisibleTimes; --></mo>
			  <msup>
		<mi>x</mi>
				<mn>2</mn>
			  </msup>
			  <mo>+</mo>
			  <mi>b</mi>
			  <mo>&#x2062;<!-- &InvisibleTimes; --></mo>
			  <mi>x</mi>
			  <mo>+</mo>
			  <mi>c</mi>
			  <mo>=</mo>
			  <mi>0</mi>
			</mrow>
		  </math>
	</p>

			<p align="right">
				<br />
			</p>
			<p align="right">עכשיו מתחיל שורה חדשה. איך זה נראה בינתיים ?</p>
			<p align="right">
				<br />
			</p>


			<hr>

		</div>
	</div>
</div>
		<!-- /container -->