
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	<a href="https://github.com/mderazon/csnc" class="brand"><img style="position: absolute; top: 0; left: 0; border: 0;" src="img/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= title %></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="/">בית</a></li>
          <li><a href="#about">אודות</a></li>
          <li><a href="#contact">צור קשר</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>מדעי המחשב ללא מחשב</h1>
    <p>תכנית לימודים(בהתהוות) שמלמדת עקרונות חשיבה מדעית דרך משחקים והתנסויות אקטיביות.</p>
    <p><a href="lesson" class="btn btn-primary btn-large">למערכי השיעור &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span10">
      <h2>ברוכים הבאים!</h2>
      <p>
אתר זה מכיל פרקים מתוך תכנית לימודים חדשה ששמה "מדעי המחשב ללא מחשב". התכנית מלמדת עקרונות חשיבה מדעית דרך פעילויות משחקיות, בעיקר בתחום מדעי המחשב, ומיועדת לילדים בגילאי 7 עד 70. חלק מפרקי התכנית תורגמו מהספר Computer Science Unplugged, על ידי טים בל, איאן וויטן, ומייק פלווס, וחלקם פותח על ידנו.

כל פרק בתכנית מתאר שעתיים-שלוש של מספר פעילויות מודולריות שניתן לבצען בכתה או בבית. אין צורך במחשבים או בתוכנות -- כל המשחקים מבוססים על חומרים פשוטים כמו קלפים, נייר, עיפרון, וכולי. כל חומרי הלימוד והפרקים מפורסמים באינטרנט בחינם, ולכן אין צורך לרכוש אותם – אפשר פשוט להדפיס ולהשתמש.

לאחרונה, משרד החינוך אימץ את חומרי הלימוד שפיתחנו כחלק מתכנית לימודים חדשה במדעי המחשב המיועדת לחטיבות הביניים (כמובן שזה לא מונע להשתמש בחומרים האלה, או בחלק מהם, בתיכונים ובמסגרות לימודים אחרות). כמו כן, חברת גוגל הקציבה מענק כספי להטמעת חומרי הלימוד הללו בבתי הספר בארץ. אנו אסירי תודה לגוגל על הסיוע הזה, ומשתמשים בו כדי להריץ סדנאות ברחבי הארץ, שמטרתן להדריך מורים כיצד להשתמש בחומרי הלימוד בכתה.

אם אתם מעוניינים להשתתף בסדנה (ללא תשלום), צרו קשר!</p>
      
 

  <hr>

  <footer>
    <p>&copy; CNSC 2012</p>
  </footer>

</div> <!-- /container -->