<div class="container">
  <div class="jumbotron" style="background: url(_styles/background.jpg); background-repeat: no-repeat;">
    <h1>הוראת מדעי המחשב בקהילה</h1>
    <p>תכנית לימודים (בהתהוות) המלמדת עקרונות חשיבה מדעית דרך משחקים והתנסויות אקטיביות
	</p>
    <p>
      <a href="/lessons" class="btn btn-primary btn-large">למערכי השיעור &raquo;</a>
    </p>
  </div>

  <div class="span10">
   <h2>ברוכים הבאים!</h2>
   <p>
אתר זה מכיל מערכי שיעור מתוך תכניות ״הוראת מדעי המחשב בקהילה״.
התכנית מלמדת עקרונות חשיבה מדעית דרך פעילויות משחקיות, בעיקר בתחום מדעי המחשב, ומיועדת לילדים בגילאי 7 עד 70.
    </p>
	<p>
	ששת הפרקים הראשונים באתר חוברו על ידי טים בל, איאן וויטן,
ומייק פלווס, במסגרת פרוייקט 
	<a href="http://www.csunplugged.org/">Computer Science Unplugged</a>
 ותורגמו לעברית על ידי שמעון שוקן ובני שור.
	</p>
	<p>
הפרק השביעי (״איך לשלוח מידע סודי״) חובר ע״י בני שור, והפרק השמיני (״מסע אל תוך המחשב״) ע״י שמעון שוקן.
	</p>
	<p>
	שאר הפרקים חוברו על ידי סטודנטים לתואר ראשון במדעי המחשב באוניברסיטת תל אביב:
<br>
	״הכל בסדר״ - מעיין סמבל
<br>
	״אני אנווט״ - דניאל בן-טוב
<br>
״היה מנוע?״ - יאיר סלע
<br>
״מה הבעיה״ - אריאל רוזנפלד
<br>
״שאלה טובה״ - אלבטינה קוטיקוב
<br>
״שיעור מוחות״ - תגל שקד
<br>
״משחק ילדים״ - נועם ארם
<br>
״על הדרך״ - מיכל ביגניץ
<br>
״נהיה בקשר״ - מורן גבל
<br>
״אלמנטרי, ווטסון״ - דניאל לריה
<br>
״דפי כרומו״ - מתן הדדי
<br>
״ועוד איך״ - מירי פורמן ודינה גנדל
<br>
״קוצר היריעה״ - מירי פורמן ודינה גנדל
<br>
״מערך שיעור״ - יותם אלירז ומורן ניסן
<br>
״אולטרה סאונד״ - ניר מלבין
<br>
״מה המצב״ - שיר לב
<br>

	
	</p>
    <p>
      כל פרק בתכנית מתאר שעתיים-שלוש של
      מספר פעילויות מודולריות שניתן לבצען בכתה או בבית. אין צורך במחשבים
      או בתוכנות -- כל המשחקים מבוססים על חומרים פשוטים כמו קלפים, נייר,
      עיפרון, וכולי. כל חומרי הלימוד והפרקים מפורסמים באינטרנט בחינם, ולכן
      אין צורך לרכוש אותם – אפשר פשוט להדפיס ולהשתמש.
    </p>
    <p>
	התכנית מועברת מאז 2010 בבתי ספר יסודיים וחטיבות ביניים
ברחבי הארץ.
	</p>
	<p>
	לשאלות, תהיות, ועצות - 
	<a href="/contact">פנו אלינו</a>
	.
    </p>
  </div>
</div>
