
<%- partial("_partials/_header") %>

<div class="container">
  <section id="content" class="content">
    <%- yield %>
  </section>
  <hr>
  <footer>
    <p class="pull-right">&copy; csunplugged.org.il</p>
    <p class="pull-left">
      <!-- put date here or something -->
    </p>
  </footer>
</div><!-- /container -->

<%- partial("_partials/_footer") %>
