<div class="container">

<div class="jumbotron">
  <h1>צור קשר</h1>
</div>

	<p>לכל בקשה או שאלה אנחנו כאן</p>
	<br>

  <form action="/contact" method="POST" role="form">

  	<div class="row form-group">
      <div class="col-sm-3">
        <input id="name" name="name" type="text" class="form-control" placeholder="שם">
      </div>
      <div class="col-sm-3">
          <input id="email" name="email" type="email" class="form-control" placeholder="כתובת אימייל">
      </div>
    </div>

    <div class="row form-group">
    	<div class="col-sm-6">
    		<textarea id="message" name="message" class="form-control" placeholder="ההודעה" rows="5"></textarea>
    	</div>
    </div>

    <div class="form-group">
      <button id="contact-submit" type="submit" class="btn btn-primary btn-lg">שלח</button>
    </div>
  </form>

</div>
