<% include ../../head %>
<% include ../head-lessons %>

<!-- Don't change above here -->

<p> שלום לשיעור הראשון </p>

<!-- Don't change below here -->
<% include ../foot-lessons %>
<% include ../../foot %>